@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg: #0d0c22;
  --bgSoft: #2b2d42;
  --text:#fff;
  --textSoft:#e5e5e5;
  --btn: #3673fd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
a{
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
.wrapper{
  overflow: hidden;
  width: 80%;
  margin: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
